{# templates/home/index.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <title>Mi Primera Vista Symfony</title>
    </head>
    <body>
        <h1>TE AMO LUPITA</h1>
    </body>
</html>
